<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Try vuejs</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
<div id="app">

  <input type="text" v-model="text" value="TEST">
  <p>You entered {{ text }}</p>
  <input type="text" v-model.trim="textTrim">
  <p>You entered |{{textTrim}}|</p>
  <input type="text" v-model.number="age">
  <p>Age entered {{ age }}</p>
  <p>Age type {{ typeof age }}</p>

  <input type="password" placeholder="Please enter here your password!" v-model="password">
  <p v-if="password != '' && password.length > 8">Awesome! Your password is longer than 8 characters</p>
  <p v-else-if="password != '' && password.length <= 8">Please enter a longer password</p>
  <p v-else>Please enter a password</p>

</div>
<script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        text: 'Input Value Ignored',
        textTrim: 'trim',
        age: 35,
        password: ''
      },
      methods: {

      }
    })
</script>
</body>
</html>